<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>QR Code Generator</h1>
    <form action="/generate_qr" method="post">
        <input type="text" name="data" placeholder="Enter data">
        <input type="submit" value="Generate QR Code">
    </form>
    <img src="{{ url_for('static', filename='qrcode.png') }}" alt="QR Code">
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <div id="qrImageContainer"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>QR Code Generator</h1>
    <form id="qrForm" action="/generate_qr" method="post">
        <input type="text" name="data" placeholder="Enter data">
        <input type="submit" value="Generate QR Code">
    </form>
    <div id="qrImageContainer"></div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
